body{
    border: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.t{
    font-size:xx-large;
    text-align: center;
}
            

.menu{
    width: 100%;
    height: 70px;
    float: left;
    background-color:rgb(5, 245, 5);
    padding: 5px,5px,5px,5px;

}
ul{
    float: left;
    display: flex;
    text-align: center;
    justify-content: center;
}
ul li{
    list-style: none;
    margin-left:62px ;
    margin-top: 27px;
    font-size: 16px;
}
.txt1{
   
    padding: 50px;
    left: 15%;
    top: 20%;
}
.img{
    
    width:100%;
    height: 50%;
}
.color{
    color:rgb(67, 60, 60);
    font-size: x-large;
}
.b{
    color: black;
}
.b1{
    color: black;
}
.col{
    font-size: x-large;
    text-align: center;
}
  .tex{
    font-size: medium;
    padding: 20px;
    float: left;
    text-align: center;
  }   
  div.picwrap{
    width: 100%;
    text-align: center;
    font-size: xx-large;

  }  
  div.pic{
    display: inline-block;
    padding: 35px;
  } 
  
 .hero-btn {
display: inline-block;
text-decoration: none;
color: black;
border-radius: 20px;
border: 1px solid #f5f3f3;
padding: 12px 34px;
font-size: 40px;
background: rgb(21, 169, 228);
position: relative;
cursor: pointer;
}

.hero-btn:hover {
border: 1px solid #d8e612;
background: #d8e612;
transition: 1s;
}
.sci{
align-items: center;
text-align: center;
padding: 50px;


}
.topnav {
overflow: hidden;
background-color: #06e62b;
}

.topnav a {
float: right;
color: #f2f2f2;
text-align: center;
padding: 26px 24px;
text-decoration: none;
font-size: 40px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.centered {
position: absolute;
top: 20%;
left: 37%;
transform: translate(-50%, -50%);
}
p{
    font-size:1rem;
    color:var(--text-color);
    font-weight: 390;
    line-height: 1.75rem;
    letter-spacing: 1px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
  }