<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8"> 
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Tomato Ghee</title>
    <link rel="stylesheet" href="/view/styles.css">
</head>
<body>

        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#products">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
</div>
    <div class="text">
    <img class="img"  src="/images/home.jpeg" >
    <div class="centered"><h1 style='font-size:100px;color:whitesmoke;'>100% pure Organic Products</h1></div>
    <h1 class="t" style='font-size:50px;color:brown;'>Welcome</h1>
   <p> &nbsp; Our Farm is a Bio-diverse, Organic ecosystem, certified by ECOCERT and located in the
     beautiful village near Bangalore.
    Our work is inspired by ancient wisdom and sustainability.
     Every time you buy from us, you help pull back carbon from the atmosphere into the soil,
    secure rural livelihoods and empower women in our villages.<br>   
   &nbsp; We're passionate about providing you with the finest organic ghee and tomatoes, 
   crafted with care and dedication. Our organic ghee is more than just clarified butter; 
   it's a celebration of purity, flavour, and health because no chemical added while growing and after harvesting.<br>
    <b> Why Choose Organic Ghee?</b><br><br>
    Experience the Difference: Our organic ghee is sourced from the purest organic milk, 
    free from synthetic hormones, antibiotics, and GMOs. With a commitment to organic farming practices,
     we ensure that every spoonful of our ghee is brimming with natural goodness.
   <br><br>
<b>Why Choose Organic Tomato?</b><br><br>
   Studies have shown that organic tomatoes may contain higher levels of antioxidants 
    and phytonutrients compared to their conventional counterparts. By opting for organic tomatoes, you’re not just making a healthier choice for yourself; you’re also supporting sustainable farming practices that benefit the planet.
   </p>

</div>
    <!--<table>
<div class="tex">
   <tr> 
    <div class="col">Our Product</div>
    <td></td><td></td>
   <td> <img src="/images/tomato1.png" width="300px" height="200px" ><br><br>price and quantity details</div></td>
   <td><img src="/images/ghee.png" width="300px" height="200px" ><br><br>price and quantity details</td> 
   <td>Whatsapp us</td>
</tr>
</table>
</div>-->
<div class="picwrap"><h2 style='font-size:50px;color:brown;'>Our Product</h2>
    <div class="pic"><img src="/images/tomatomain.png" width="400px" height="300px"><br><br>Quantity:1kg<br><br>
        Price:60/-
    </div>
    <div class="pic"><img src="/images/ghee.png" width="400px" height="300px"><br><br> Quantity:1kg <br><br>price:100/- </div>
     <div >
        <a href="https://wa.me/+91 8179147889?text=I'm%20interested%20in%20your%20Ghee%20to%20buy." class="hero-btn">WhatsApp Us </a>
<div></div>
      </div>
</div>
<div class="sci">
    <a href=""><img src="/images/iconmonstr-facebook-6 f.png"  width="25px" height="25px" cellpadding="10px" cellspacing="2px"></a>
    <a href=""><img src="/images/iconmonstr-instagram-14 inst.png " width="25px" height="25px" cellpadding="10px"  cellspacing="2px"></a>
    <a href=""><img src="/images/iconmonstr-linkedin-5 linkedin.png"  width="25px" height="25" ></a>
    <a href=""><img src="/images/iconmonstr-twitter-3.png"  width="25" height="25"cellpadding="10px" cellspacing="2px"></a>
  
 </div> 
 

</body>
</html> 